body {
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 0 !important;
    margin: 0;
    height: 150px; 
    overflow: hidden;
    position: relative;
    z-index: 1; 
}
.carousel-inner {
    height: 350px; 
}

.carousel-item > img {
    object-fit: cover; 
    height: 100%; 
}

main {
    margin-top: -50px; 
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2; 
}

.card {
    height: auto; 
    overflow: hidden;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    height: auto; 
    padding:16px;

}

.card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: bounce 1s;
}

.card-img-top {
    height: 200px; 
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.card-body {
    padding: 16px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-title {
    height: 50px; 
    overflow: hidden; 
    margin-bottom: 0.5rem;
}

.card-subtitle {
    font-size: 0.7rem;
    color: #aaa;
    height: auto; 
    overflow: hidden; 
    margin-bottom: 1.5rem;
}
.card-text{
    font-size: 0.9rem;
    color: #aaa;
}


#carouselExampleControls {
    width: 100%;
}


body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.mt-5, .my-5 {
    margin-top: -4rem!important;
}
.container{
    padding-left:50px;
    padding-right:50px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes scaleUpDown {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.rotate-animation {
    animation: rotate 2s infinite;
}

.fade-animation {
    animation: fadeInOut 2s infinite;
}

.scale-animation {
    animation: scaleUpDown 2s infinite;
}
#animated-text {
    position: fixed;
    z-index: 9999;
    pointer-events: none;  
}



